name: scouting_app
description: Scouting app of ARC6014.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.1.0

environment:
    sdk: ">=2.1.0 <3.0.0"

dependencies:
    flutter:
        sdk: flutter
    flutter_localizations:
        sdk: flutter
    flutter_colorpicker: any
    # The following adds the Cupertino Icons font to your application.
    # Use with the CupertinoIcons class for iOS style icons.
    gradient_app_bar: ^0.0.1
    cupertino_icons: ^0.1.2
    googleapis: any
    googleapis_auth: any
    qr_flutter: ^2.0.0
    path_provider: ^1.2.0
    fluttertoast: ^3.1.0



dev_dependencies:
    flutter_test:
        sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
    fonts:
        -   family: Nunito
            fonts:
                -   asset: lib/fonts/Nunito-Bold.ttf
    uses-material-design: true
